In [1]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [7]:
#Load in data
df_2000_data = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
df_2000_data

,Unnamed: 0,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.450,10.0,NaN
3,3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.113,2300.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,1435,tt7802790,0.0,/etxml2M8GQzb31jcH0cdA489WCX.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,610992.0,fa,...,0.0,98.0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",Released,NaN,The Mummy 3,0.0,7.000,1.0,NaN
1436,1436,tt8023668,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",http://www.ufotv.com/Merchant2/merchant.mvc?Sc...,505871.0,en,...,0.0,57.0,[],Released,NaN,Bob Frissell - Nothing to Something,0.0,10.000,1.0,NaN
1437,1437,tt8085496,0.0,NaN,NaN,0.0,[],http://navajoboy.com,519037.0,en,...,0.0,52.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Return of Navajo Boy,0.0,8.000,1.0,NaN
1438,1438,tt8244710,0.0,NaN,NaN,0.0,[],NaN,1008052.0,he,...,0.0,100.0,[],Released,NaN,The Angel of History,0.0,0.000,0.0,NaN
1439,1439,tt8689976,0.0,/6V9uMyabJ5CVrmT9EABVDwxbyi2.jpg,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}, {'id': 36,...",https://video.wxxi.org/video/wxxi-presents-sil...,535483.0,en,...,0.0,60.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Silver Memories,0.0,8.000,1.0,NR

In [8]:
#Load in data
df_2001_data = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')

df_2001_data

,Unnamed: 0,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,...,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.331,1219.0,PG-13
2,2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,...,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,3,tt0116916,0.0,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,73549.0,en,...,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.0,3.500,2.0,PG
4,4,tt0118154,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,292980.0,en,...,0.0,90.0,"[{'english_name': 'Amharic', 'iso_639_1': 'am'...",Released,NaN,White Hotel,0.0,0.000,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1538,1538,tt8795764,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",https://www.utahwolf.com/films/coming-soon-new...,871624.0,en,...,0.0,57.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,New Breed,0.0,0.000,0.0,NR
1539,1539,tt9071078,0.0,NaN,NaN,0.0,"[{'id': 28, 'name': 'Action'}]",NaN,201706.0,cn,...,0.0,90.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,Chinese Heroes,0.0,3.000,2.0,NaN
1540,1540,tt9212730,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,382630.0,ja,...,0.0,88.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Yakuza Zombie,0.0,0.000,0.0,NaN
1541,1541,tt9668554,0.0,NaN,NaN,0.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,274300.0,en,...,0.0,0.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Armageddon: Bible Prophecies and the Predictio...,0.0,0.000,0.0,NaN
1542,1542,tt9789230,0.0,NaN,NaN,0.0,[],NaN,986785.0,en,...,0.0,89.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Girls Who Like Girls,0.0,0.000,0.0,NaN

In [9]:
#Concatenate
df = pd.concat((df_2000_data, df_2001_data))
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2983 entries, 0 to 1542
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             2983 non-null   int64
 1   imdb_id                2983 non-null   object
 2   adult                  2981 non-null   float64
 3   backdrop_path          1522 non-null   object
 4   belongs_to_collection  215 non-null    object
 5   budget                 2981 non-null   float64
 6   genres                 2981 non-null   object
 7   homepage               223 non-null    object
 8   id                     2981 non-null   float64
 9   original_language      2981 non-null   object
 10  original_title         2981 non-null   object
 11  overview               2930 non-null   object
 12  popularity             2981 non-null   float64
 13  poster_path            2635 non-null   object
 14  production_companies   2981 non-null   object
 15  production_countries   2981 non-null   object
 16  release_date           2941 non-null   object
 17  revenue                2981 non-null   float64
 18  runtime                2981 non-null   float64
 19  spoken_languages       2981 non-null   object
 20  status                 2981 non-null   object
 21  tagline                1188 non-null   object
 22  title                  2981 non-null   object
 23  video                  2981 non-null   float64
 24  vote_average           2981 non-null   float64
 25  vote_count             2981 non-null   float64
 26  certification          867 non-null    object
dtypes: float64(9), int64(1), object(17)
memory usage: 652.5+ KB

In [12]:
# Filter out movies with both budget and revenue equal to 0
movies_revenue = df[(df['budget'] > 0) | (df['revenue'] > 0)]
movies_revenue

,Unnamed: 0,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
4,4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.113,2300.0,PG
6,6,tt0119273,0.0,/f5C03doOWiauu37bToKXtpgP5bS.jpg,"{'id': 141086, 'name': 'Heavy Metal Collection...",15000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,16225.0,en,...,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,not to survive the fight in the external world...,Heavy Metal 2000,0.0,6.072,188.0,R
10,10,tt0120263,0.0,/ynXVuylP8upazjz8lrqb1PEMkdR.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,34070.0,sv,...,80334.0,99.0,"[{'english_name': 'Russian', 'iso_639_1': 'ru'...",Released,NaN,Songs from the Second Floor,0.0,7.169,245.0,NaN
12,12,tt0120467,0.0,/knok3mNReKqPTplnnqz7E4dd7mD.jpg,NaN,120000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,19085.0,en,...,14904.0,87.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everyone loves a clown... some more than others.,Vulgar,0.0,5.500,44.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,1454,tt0867181,0.0,NaN,NaN,5000.0,"[{'id': 53, 'name': 'Thriller'}]",NaN,749151.0,en,...,0.0,88.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Only a miracle can save Sean now,Patient,0.0,0.000,0.0,NaN
1457,1457,tt0956302,0.0,NaN,NaN,200000.0,"[{'id': 99, 'name': 'Documentary'}]",NaN,692814.0,en,...,0.0,47.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Meeting with a Killer,0.0,0.000,0.0,NaN
1460,1460,tt1039952,0.0,/yTGmGjAd0gfpVK0ezoqWgx7AJkp.jpg,NaN,500000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,69399.0,ta,...,500000.0,157.0,"[{'english_name': 'Tamil', 'iso_639_1': 'ta', ...",Released,NaN,Citizen,0.0,6.600,15.0,NaN
1482,1482,tt1764172,0.0,NaN,NaN,250000.0,"[{'id': 53, 'name': 'Thriller'}]",NaN,228977.0,en,...,0.0,0.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Among Thieves,0.0,0.000,0.0,NaN
1505,1505,tt2957918,0.0,NaN,NaN,2000.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,602589.0,en,...,0.0,85.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Now is not the time for toast.,Toaster,0.0,0.000,0.0,NaN

In [16]:
# 1. How many movies had at least some valid financial information?
valid_movies_count = len(movies_revenue)
valid_movies_count

663

In [17]:
# 2. How many movies are there in each certification category?
certification_counts = movies_revenue['certification'].value_counts()
certification_counts

certification
R        231
PG-13    131
PG        35
NR        24
G         17
Name: count, dtype: int64

In [19]:
# 3. What is the average revenue per certification category?
average_revenue_by_certification = movies_revenue.groupby('certification')['revenue'].mean()
average_revenue_by_certification

certification
G        1.048907e+08
NR       1.474113e+07
PG       1.106791e+08
PG-13    9.928786e+07
R        3.002185e+07
Name: revenue, dtype: float64

In [21]:
# 4. What is the average budget per certification category?
average_budget_by_certification = movies_revenue.groupby('certification')['budget'].mean()
average_budget_by_certification

certification
G        3.575685e+07
NR       8.451796e+06
PG       4.482849e+07
PG-13    4.299357e+07
R        1.875673e+07
Name: budget, dtype: float64